<%- include('../includes/head.ejs') %>
    <%- include('../includes/heading.ejs') %>
        <%- include('../includes/navigation.ejs') %>
            <div class="my-2 d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-6 col-md-8 col-lg-12">
                            <div class="card bg-white">
                                <div class="card-body p-5">
                                    <img class=" profile-pic my-2" src="<%= user.profileImage %>"
                                        alt="<?php echo $user->profile_picture ?>">
                                    <div class="card-body">
                                        <h5 class="card-title">Profile</h5>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <%= user.firstName %>
                                        </li>
                                        <li class="list-group-item">
                                            <%= user.lastName %>
                                        </li>
                                        <li class="list-group-item">
                                            <%= user.email %>
                                        </li>
                                    </ul>
                                    <div class="card-body">
                                        <a href="settings.php" class="card-link">Edit Your Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../includes/end.ejs') %>